---
layout: default
title: Research
permalink: /research/
---

<div class="container">
    {% for research in site.research %}
    <h2>{{ research.title }}</h2>
        <div class="row" id="{{research.title}}">
            <div class="col-md-8">
                <div class="text-div">
                    <p>{{ research.content }}</p>
                </div>
            </div>
            <div class="col-md-4">
                <img src="{{ research.image | relative_url }}" alt="{{ research.title }}" class="img-fluid">
            </div>
        </div>
    {% endfor %}
</div>

<!-- for more of a card look -->
<!-- <div class="container">
    {% for research in site.research %}
        <div class="row mb-4 card-border" id="{{research.title}}"> 
            <div class="col-md-8">
                <div class="text-div ">
                    <h3>{{ research.title }}</h3>
                    <p>{{ research.content }}</p>
                </div>
            </div>
            <div class="col-md-4">
                <img src="{{ research.image | relative_url }}" alt="{{ research.title }}" class="img-fluid">
            </div>
        </div>
    {% endfor %}
</div> -->