body { 
    background: #ffffff;

    font-family: 'Raleway', sans-serif;

}

h1 {
    text-align: center; /* Centers the text */
    padding-top: 20px; /* Adds padding to the top */
    padding-bottom: 20px; /* Adds padding to the bottom */
    /* You can adjust the 20px to increase or decrease the padding */
}

h3 {
    text-align: center; /* Centers the text */
    padding-top: 20px; /* Adds padding to the top */
    padding-bottom: 20px; /* Adds padding to the bottom */
    /* You can adjust the 20px to increase or decrease the padding */
}

h2 {
    position: relative;
    font-size: 30px;
    z-index: 1;
    overflow: hidden;
    text-align: center;
    padding-top: 20px; /* Adds padding to the top */
    padding-bottom: 20px; /* Adds padding to the bottom */
    /* You can adjust the 20px to increase or decrease the padding */
}

h2:before, h2:after {
    position: absolute;
    top: 51%;
    overflow: hidden;
    width: 50%;
    height: 1px;
    content: '\a0';
    background-color: #d0d0d0;
    
}

h2:before {
    margin-left: -53%;
}

h2:after {
    margin-left: 3%;
}

.color {
    background-color: #d0d0d0;
}