---
layout: default
---
<!doctype html>
<html lang="en">
  {% include favicon.html %}
  <head>
    <meta charset="utf-8">
    <title>Geha Group: {{ page.title }}</title>
    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap" rel="stylesheet">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">


  </head>
  
  <header>
    <div class="header-image">
      <img src="{{ '/assets/images/andromeda_hst.jpg' | relative_url }}" alt="Header Background">
      <h1 class="site-title">{{ site.title }} -- Under Construction</h1>
    </div>
  </header>
  
  <body>
    <!-- Navbar -->
    {% include navbar.html %}
  
    <!-- <h1>{{ page.title }}</h1> -->
    <div class="container">
      {{ content }} <!-- Your Markdown content will be placed here -->
    </div>

  </div>


  <div class="container footer-basic">
    <footer>
        <div class="social">
          <!-- <a href="https://twitter.com/mgeha?lang=en"><i class="icon ion-social-instagram"></i></a> -->
          <a href="https://github.com/geha-group"><i class="icon ion-social-github"></i></a>
          <a href="https://twitter.com/mgeha?lang=en"><i class="icon ion-social-twitter"></i></a>
          <!-- <a href="https://twitter.com/mgeha?lang=en"><i class="icon ion-social-facebook"></i></a> -->
        </div>
        <ul class="list-inline">
            <!-- <li class="list-inline-item"><a href="#">Home</a></li> -->
            <!-- <li class="list-inline-item"><a href="#">Services</a></li> -->
            <!-- <li class="list-inline-item"><a href="#">About</a></li> -->
            <!-- <li class="list-inline-item"><a href="#">Terms</a></li> -->
            <!-- <li class="list-inline-item"><a href="#">Privacy Policy</a></li> -->
        </ul>
        <p class="copyright">Geha Group © 2024</p>
    </footer>
  </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

  </html>